 body{
    transform: scale(0.9);
    -ms-transform: scale(0.9); /* IE 9 */
    -webkit-transform: scale(0.9); /* Safari and Chrome */
    -o-transform: scale(0.9); /* Firefox */
    width: 1400px;
}

::-webkit-scrollbar { 
    display: none; 
}

.portrait {
	height: 640px;
	width: 360px;
	border: 1px solid #000000;
	margin: 2px;
	float: left;
	position: relative;
	z-index: 3;
}

.fLeft{
	float: left;
}

.landscape {
	position: relative;
	width: 640px;
	height: 360px;
	border: 1px solid #000000;
	margin: 2px;
	float: left;
	z-index: 3;
}

#buffer {
	height: 100px;
}

.notif-area {
    width: 100%;
    height: 20px;
    background-color: black;
    color: white;
    padding-left: 10px;
    padding-right: 10px;
}

#wrapper {
	position: relative;
}

#scrollable {
	height: 340px;
	overflow-y: auto;
	overflow-x: hidden;
	margin-top: 20px;
}

#grid {
	max-width: calc(100% + 15px);
}

#grid tr td{
	padding: 0;
	border: 1px solid gray;
	width: calc(100%/8);
	text-align: center;
	height:	30px;

}

#grid thead tr th {
	padding: 0;

}

#grid thead tr th .text{
	/*border: 1px solid #eeeeee;*/
	padding: 0;
	position: absolute;
	width: calc(100%/8);
	height: 20px;
	z-index: 2;
	top: -20px;
	text-align: center;
	background-color: #ef5350;
	color: #ffffff;
}


.schedcell{
	background-color: #ffffff;
	border-radius: 0;
}